@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

:root {
  /* Your default theme styles */
  --background: white;
  --foreground: black;
}

[data-theme='dark'] {
  /* Styles for dark mode */
  --background: black;
  --foreground: white;
}



*::-webkit-scrollbar {
  display: none;
  color: #000;
}

.dark {
  background: #171717;
  color: #fefefe;
}

.light {
  background: #eaeaea;
  color: #171717;
}

/* >>>>>>>>>>>>>>>> hero box pics >>>>>>>>>>>>>>>>> */

.hero_box1 {

}

.carousel1 :nth-child(1) li {
  position: static !important;
}

.carousel1 :nth-child(2) {
  right: -80%;
  bottom: 15%;
  gap: 10px;
  /* height: 50px; */
}

.carousel1 :nth-child(2) li button {
  height: 16px;
  width: 16px;
  border: 2px solid #f1b001;
}
