@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*::-webkit-scrollbar {
  display: none;
  color: #000;
}

/* .dark {
  background: #171717;
  color: #fefefe;
}

.light {
  background: #eaeaea;
  color: #171717;
} */

/* >>>>>>>>>>>>>>>> hero box pics >>>>>>>>>>>>>>>>> */

.hero_box1 {
  background: url(https://res.cloudinary.com/dixrdohp4/image/upload/v1690718549/bg_o1sh0l.jpg)
    no-repeat 50% 50%;
  background-size: cover;
}
.hero_box2 {
  background: url(../img/hero/pic2.jpg) no-repeat 50% 50%;
  background-size: cover;
}
.hero_box3 {
  background: url(../img/hero/pic3.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.carousel1 :nth-child(1) li {
  position: static !important;
}

.carousel1 :nth-child(2) {
  right: -80%;
  bottom: 15%;
  gap: 10px;
  /* height: 50px; */
}

.carousel1 :nth-child(2) li button {
  height: 16px;
  width: 16px;
  border: 2px solid #f1b001;
}
